@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 1320px;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

.container {
  width: 95%;
  height: 90%;
  background-image: url(images/image1.svg), url(images/background.svg);
  background-repeat: no-repeat;
  background-size: 50%, cover;
  background-position: right bottom;
  color: #fff;
  margin: auto;
}

.info {
  padding: 70px 140px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

@media screen and (min-width: 1570px) {
  header {
    display: flex;
    justify-content: space-evenly;
  }
}

.logo {
  display: flex;
}

.logo-text {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 3px;
  text-shadow: 1px 0 1px #bdbdbd, 0 1px 1px #bdbdbd, -1px 0 1px #bdbdbd,
    0 -1px 1px #bdbdbd;
}

nav {
  padding: 10px 100px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding-left: 50px;
}

nav a:hover {
  color: #fbb034;
}

button.booking {
  padding: 10px 50px;
  background-color: #fbb034;
  cursor: pointer;
  border: 1px solid #fbb034;
  color: #000;
  font-weight: 800;
}

button.booking:hover {
  background-color: #bb8227;
  border: 1px solid #fff;
}

button.booking a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

main {
  width: 50%;
  padding-top: 130px;
}

p.main_welcome {
  font-size: 16px;
  color: #fbb034;
  margin: 0;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  margin: 20px auto;
}

p.main_info {
  font-size: 28px;
  line-height: 28px;
  color: #9a9a9a;
  margin: 20px auto 80px;
}

button.services {
  padding: 10px 50px;
  background-color: transparent;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  border: 1px solid #fff;
  margin-left: 30px;
}

button.services:hover {
  background-color: rgba(102, 102, 102, 0.658);
}

button.services a {
  text-decoration: none;
  color: #fff;
}

.container-2 {
  width: 95%;
  height: 70%;
  background-image: url(images/background-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  margin: auto;
  display: flex;
}

.about_photo {
  width: 40%;
  margin: 100px auto;
  background-image: url(images/about\ us_photo-3.svg),
    url(images/about\ us_photo-2.svg), url(images/about\ us_photo-1.svg);
  background-repeat: no-repeat;
  background-size: 50% 60%, 46%, 46%;
  background-position: right bottom, right top, left top;
}

.about_info {
  width: 40%;
  margin: 150px auto;
}

p.about-us {
  color: #fbb034;
  font-size: 18px;
}

h1.about-us {
  font-size: 45px;
  line-height: 50px;
  margin: 20px auto;
}

p.about-us_text {
  color: #565656;
  font-size: 18px;
  margin-bottom: 50px;
}

.container-3 {
  width: 95%;
  height: 70%;
  background-image: url(images/background-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: auto;
  display: flex;
}

.booking_info,
.booking_call {
  margin: 15% auto;
}

.booking_info {
  width: 50%;
}

.booking_call {
  width: 25%;
  height: min-content;
  background-color: #fff;
  font-weight: 600;
  padding: 30px;
}

.phone-button {
  border: none;
  border-radius: 50%;
  background-color: #e8e8e8;
  cursor: pointer;
  padding: 25px 30px;
  display: block;
  margin: auto;
}

.phone-button i.fa {
  color: #fbb034;
  font-size: 50px;
}

.calling {
  color: #b8b8b8;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.phone-number {
  color: #000;
  font-size: 23px;
  text-align: center;
  margin: 0;
}

.container-4 {
  width: 95%;
  height: max-content;
  background-image: url(images/background-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  margin: auto;
}

.services_heading {
  margin: 0 auto 20px;
  text-align: center;
  font-style: italic;
}

.services_heading p {
  color: #fbb034;
  font-size: 18px;
}

.services_heading h1 {
  font-weight: normal;
  margin-bottom: 40px;
}

.services_heading__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.services_heading__buttons button {
  padding: 15px;
  width: 10%;
  height: 9rem;
  border: 1px solid #fbb034;
  border-radius: 5px;
  background-color: #dfdfdf;
  color: #000;
  font-size: 19px;
  cursor: pointer;
}

.services_heading__buttons button:hover {
  background-color: #cf902b;
  color: #fff;
}

.services_items img {
  width: 45%;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
}

.services_items__info h2 {
  padding-top: 30px;
}

.services_items__info .price {
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
}

.container-5 {
  width: 95%;
  height: 10%;
  background-image: url(images/background.svg);
  color: #fff;
  margin: auto;
  clear: left;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.icons a i.fa {
  font-size: 25px;
  padding: 15px 40px 15px 0;
  color: #fff;
}

.icons a i.fa:hover {
  color: #fbb034;
}
